/* ========== Document Summaries (docsums) ========== */

.ncbi-doc-context {
	margin-bottom: 0.75em;
	text-transform: uppercase;
	color: $color-gray;
}

.ncbi-doc-title {
	font: $font-normal $lead-font-size $font-sans;
	line-height: 1.2;
	padding: 0;
}

.ncbi-doc-authors { 
	line-height: 1.2;
	color: $color-green; 
}

.ncbi-doc-excerpt {
	line-height: 1.2;
	padding: 0;
}

.ncbi-doc-source { 
	font-size: $small-font-size;
}

.ncbi-favicon {
	max-height: 16px;
	max-width: 16px;
	vertical-align: middle;
	padding-right: 0.25em;
}

.ncbi-doc-id { 
	font-size: $small-font-size;
	color: $color-gray; 
}

.ncbi-doc-links { 
	font-size: $small-font-size;
}

.ncbi-docsum {
	@include margin($site-margins 0);
	max-width: $article-max-width;
	line-height: 1.2;

	a { text-decoration: none; }
	a:hover { text-decoration: underline; }
	
	.ncbi-doc-title,
	.ncbi-doc-authors,
	.ncbi-doc-excerpt,
	.ncbi-doc-source,
	.ncbi-doc-id,
	.ncbi-doc-links {
		@include margin(0.2em 0)
	}
}

.ncbi-docsum-small {
	@include margin(0.5em 0);
	max-width: $text-max-width;
	li { 
		margin: 0.5em 0;
	}
	p, .ncbi-doc-title {
		font-size: $small-font-size;
		line-height: 1.2;
		margin: 0;
	}
	.ncbi-doc-source, .ncbi-doc-id {
		font-size: $small-font-size;
		color: $color-gray; 
		margin: 0;
	}
	// these should not be used in mini docsums
	//
	// .ncbi-doc-label,
	// .ncbi-doc-authors,
	// .ncbi-doc-links {
	//	color: red;
	//}
}
