/* _footer-alt.scss */


.ncbi-footer {
	border-top: 1px solid $color-gray-lighter;
	margin-top: $site-margins-mobile;
	@include media($medium-screen) {
		margin-top: $site-margins;
	}
	
	h3 { 
		color: $color-white;
		font-family: $font-sans;
		text-transform: uppercase;
		font-weight: normal;
	}

	p { margin-bottom: 0.5em; }
	
	a { text-decoration: none; }
	a:hover { text-decoration: underline; }

	.social-icon {
 		display: block;
 		width: 100%;
 		height: 32px;
 		margin-right: 0;
		line-height: 32px;
 		text-indent: 48px;
		white-space: nowrap;
		overflow: hidden;
		@include media($medium-screen) {
	 		display: inline-block;
			width: 32px;
		}
	}
	
	.social-icon-label {
		@extend .social-icon;
		@include media($medium-screen) {
			width: auto;
		}	
	}
	
	#footer-support { background: url(#{$img-path}/footer/footer-sprite.png) 0 0 no-repeat; }
	#footer-support:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -32px no-repeat; }
	
	#footer-twitter { background: url(#{$img-path}/footer/footer-sprite.png) 0 -128px no-repeat; }
	#footer-twitter:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -160px no-repeat; }
	
	#footer-facebook { background: url(#{$img-path}/footer/footer-sprite.png) 0 -192px no-repeat; }
	#footer-facebook:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -224px no-repeat; }
	
	#footer-linkedin { background: url(#{$img-path}/footer/footer-sprite.png) 0 -256px no-repeat; }
	#footer-linkedin:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -288px no-repeat; }
	
	#footer-youtube { background: url(#{$img-path}/footer/footer-sprite.png) 0 -320px no-repeat; }
	#footer-youtube:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -352px no-repeat; }
	
	#footer-github { background: url(#{$img-path}/footer/footer-sprite.png) 0 -384px no-repeat; }
	#footer-github:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -416px no-repeat; }
	
	#footer-rss { background: url(#{$img-path}/footer/footer-sprite.png) 0 -448px no-repeat; }
	#footer-rss:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -480px no-repeat; }
	
	#footer-blog { background: url(#{$img-path}/footer/footer-sprite.png) 0 -512px no-repeat; }
	#footer-blog:hover { background: url(#{$img-path}/footer/footer-sprite.png) 0 -544px no-repeat; }
}
