/* ========== Portlets ========== */

.ncbi-portlet {
	border-top: 6px solid $color-cool-blue-lighter;
	padding-top: $site-margins-mobile;
	margin-bottom: $site-margins;
	@include media($medium-screen) {
		padding-top: $site-margins;
		margin-bottom: $site-margins;
	}

	h1,h2,h3,h4,h5 {
		font-family: $font-sans;
		margin: 1em 0.5em 0.5em 0;
	}
	h2 {
		font-size: 2.4rem;
	}
	h6, p {		
		margin: 1em 0;
	}
	p {		
		margin: 0.5em 0;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		margin: 0.5em 0;
	}
	ul li {
		line-height: 1.2;
		margin: 0;
		padding: 0.5em 0;
	}
	
	a {
		color: $color-primary;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
		color: $color-primary-darkest;
	}
	a:visited {
		color: $color-primary;
	}
}
