

// paths
// this is terrible .. need to find a better solution
//$font-path:   'https://www.ncbi.nlm.nih.gov/coreutils/assets/fonts';
//$image-path:  'https://www.ncbi.nlm.nih.gov/coreutils/assets/img';


//$font-path:   '../../fonts';
//$image-path:  '../../img';

$img-path: '../img';

// colors
$color-nih-blue: #20558a;
$color-nih-gray: #616265;
$color-ncbi-blue:  #336699;


// misc
$z-index-overlay: 100;
