
// image path (relative to css file)
$img-path: '../img';

// uswds path (relative to nwds.scss file????)
$uswds-path: '../../node_modules/uswds';

// colors
$color-nih-blue: #20558a;
$color-nih-gray: #616265;
$color-ncbi-blue:  #336699;

// misc
$z-index-overlay: 100;
