/* ========= Lists ========== */

ul.ncbi-unstyled-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

// try removing the !importants from this section
.ncbi-inline-list {
	@extend .ncbi-unstyled-list;
	
	// on mobile, items are blocks stacked vertically
	li {
		display: block; // !important;
		margin-left: 0; // !important;
	}
	
	@include media($medium-screen) {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	li {
		display: inline; // !important;
		margin-right: 2.5rem; // !important;
		&:last-child { margin-right: 0; }
	}
	}
}


.ncbi-inline-list-alt {
	@extend .ncbi-inline-list;
	li {
		border-bottom: 1px dotted $color-gray-light;
	}
	
	@include media($medium-screen) {
	li {
		border-bottom: 0;
		margin-right: 0; // !important;
	}
	li::after {
		content: "\a0\a0\a0|\a0\a0\a0";
		color: $color-gray-light;
	}
	li:last-child::after {
		content: "";
	}
	}
}


