/* ========== Typography ========== */

ul, ol {
	padding-left: 1.25em;
	margin-left: 0;
	
	li {
		line-height: 1.25;
		@include margin(0.75rem 0);
	}
}

blockquote {
	margin-left: 0;
	border-left: 5px solid $color-cool-blue-lighter;
	padding: 1rem 2rem;
}

code, .code {
	background-color: $color-gray-lightest;
}


.ncbi-text-large { 
	font-size: $lead-font-size; 
}

.ncbi-text-small { 
	font-size: $h6-font-size; 
}

.ncbi-text-gray { 
	color: $color-gray; 
}

.ncbi-text-small-gray { 
	font-size: $h6-font-size; 
	color: $color-gray; 
}


.ncbi-undecorated-link {
	a { color: $color-primary; text-decoration: none; }
	a:visited {color: $color-primary; }
	a:hover { text-decoration: underline; }
}
