/* ========== Typography ========== */

// keep lists aligned to the grid
ul, ol {
	padding-left: 1.25em;
	margin-left: 0;
}

blockquote {
	margin-left: 0;
	border-left: 5px solid $color-cool-blue-lighter;
	padding: 1rem 2rem;
}


/* responsive definition list */

dl {
	margin: 0.5em 0;
	width: 100%;
    border-bottom: 1px solid $color-gray-lighter;
	
	dt {
		padding-top: 0.5em;
		font-weight: bold;
		color: $color-gray;
		border-top: 1px solid $color-gray-lighter;
		@include media($medium-screen) {
			float: left;
			width: 33.333333%;
			max-width: 24rem;
			padding-bottom: 0.5em;
			clear: left;
		}
	}
	dd {
		margin: 0;
		padding-bottom: 0.5em;
		@include media($medium-screen) {
			float: left;
			width: 66.66667%;
			min-width: calc(100% - 24rem);
			border-top: 1px solid $color-gray-lighter;
			padding-top: 0.5em;		
		}
	}
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}

/* common text variants */

.ncbi-text-large { 
	font-size: $lead-font-size; 
}

.ncbi-text-small { 
	font-size: $h6-font-size; 
}

.ncbi-text-light { 
	color: $color-gray; 
}

.ncbi-text-small-light { 
	font-size: $h6-font-size; 
	color: $color-gray; 
}

